#full_name{
  background-color: none;
  cursor: pointer;
}
.my_date{
  background-color: none;
  cursor: pointer;
}
#block_img{
  position: relative;
  width: 600px;
  height: 300px;
  margin: 20px;
  object-fit: cover;
}
#block{
  position: relative;
  width: 600px;
  height: 300px;
  margin: 20px;
  object-fit: cover;
}
.buttons{
  position: relative;
  padding: 20px;
}
